<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Stock system V5.87</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
<div class="navbar navbar-inverse navbar-static-top ">
    <div class="container">
    <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a href="#" class="navbar-brand">Stock system</a>
    </div>
    <div class="collapse navbar-collapse" id="mymenu">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/index.py">Stock information</a></li>
            <li><a href="/center.py">Account</a></li>
        </ul>
    </div>
    </div>
</div>
  <div class="container">

    <div class="container-fluid">

      <table class="table table-hover">
        <tr>
            <th>Serial number</th>
            <th>Stock code</th>
            <th>Ticker symbol</th>
            <th>Change</th>
            <th>Turnover Rate</th>
            <th>Stock price($)</th>
            <th>Previous highs</th>
            <th>Date of previous highs</th>
            <th>Add</th>
        </tr>          
      </table>
      No data......
    </div>
  </div>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>            